.register{
    margin-top: 34px;
    .my_signIn-form{
        color: white;
        background-color: white;
        padding: 20px;
        .my_contact-form{
            padding: 0 !important;
        }
    }
}