.button-custom{
    min-width: 170px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    padding: 0 35px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: white;
      color: black !important;
      border: 1.5px solid black ;
      font-weight: bold;
    }
    &.sign-in-google{
      background-color: blue;
    }
    &.sign-in-google:hover{
      background-color: white;
      color: blue !important;
      border: 1.5px solid blue;
    }
    &.add-to-cart{
      background-color: rgba(255,255,255,.8);
      border: none;
      color: black;
      font-weight: bold;
      &:hover{
        background-color: rgba(0,0,0, .8);
        color: white;
      }
    }
  }
  .btn-children{
    font-size: 14px
}