.site-btn.mySelect {
  background-color: #ffffff;
  color: black;
  width: 100%;
}

.my_form {
  .my-course-search-form {
    justify-content: center;
    .select {
        width: 330px;
        margin-left: 47px;
    }
  }
  .mysubmit_button{
    transform: translateX(-25px) !important;
  }
}
