.search-section{
    transform: translateY(225px);
    .search-warp{
        padding: 0;
        background-color: transparent;
        .course-search-form{
            background-color: #d82a4e;
            .site-btn{
                background-color: white;
                color: #d82a4e;
            }
        }
    }
    
}
