.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        i,span{
          color: black;
        }
      }
    }
    i,span{
      color: white;
    }
  }
  