$main-color: black;
$sub-color: gray;
$light-color: white;

%labelTop {
  bottom: 40px;
  font-size: 15px;
  left: 5px;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input-label {
    position: absolute;
    font-size: 20px;
    bottom: 5px;
    left: 5px;
    color: $main-color;
    transition: 0.3s;
    pointer-events: none;
    &.shrink {
      @extend %labelTop;
    }
  }
  .form-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: $main-color;
    padding: 10px 10px 5px 5px;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &:focus ~ .form-input-label {
      @extend %labelTop;
    }
  }
}
