.dash-board-page {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  background-color: #22252a;
  font-weight: 400;
  color: #a5a8ad;
  height: 100vh;
  letter-spacing: 0.5px;
  overflow: hidden;

}
